.row {
    padding: 10px;
    margin-left: 10px;
    
}

.container {
    position: relative;
    background-color: #fbe5cf
}
    
#bgColor {
    background-color: #fbe5cf
}

.card-body {
    background-color: #c97135;
}

body {
    background-image: url("../images/bananas.png");
}

.imaPosition {
    margin-left: 10px;
}

.card  {
    background-color: #53c987;
}

.cards {
    background-color: #1ca394;
}
.BG {
    background-color: #3afdfb;
}

#compNumber {
    font-family: sans-serif;
    color: purple;
    font-size: 50px;
    margin: -40px;
}

#playerNumber {
    margin: -10px;
    font-size: 50px;
}